{
  // https://eslint.org/docs/user-guide/configuring#specifying-environments
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  // https://github.com/babel/babel-eslint
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "rules": {
    // https://eslint.org/docs/2.0.0/rules/strict
    "strict": 2,
    "react/prop-types": 0,
    "react/jsx-sort-props": [
      1,
      {
        "callbacksLast": true,
        "shorthandFirst": true,
        "shorthandLast": false,
        "ignoreCase": true,
        "noSortAlphabetically": false,
        "reservedFirst": true
      }
    ],
    "prettier/prettier": "error",
    "no-console": 2,
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": ["error", { "allow": ["_seconds"] }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    // https://eslint.org/docs/rules/
    "eslint:recommended",
    // https://github.com/yannickcr/eslint-plugin-react#recommended
    "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks",
    // https://github.com/benmosher/eslint-plugin-import
    "plugin:import/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "prettier/react"
  ]
}
