{
  // https://eslint.org/docs/user-guide/configuring#specifying-environments
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  // https://github.com/babel/babel-eslint
  "parser": "babel-eslint",
  "rules": {
    // https://eslint.org/docs/2.0.0/rules/strict
    "strict": 0,
    // Disable prop-types as we use TypeScript for type checking
    "react/prop-types": 1,
    "react/jsx-sort-props": [
      1,
      {
        "callbacksLast": true,
        "shorthandFirst": true,
        "shorthandLast": false,
        "ignoreCase": true,
        "noSortAlphabetically": false,
        "reservedFirst": true,
      }
    ],
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    // https://eslint.org/docs/rules/
    "eslint:recommended",
    // https://github.com/yannickcr/eslint-plugin-react#recommended
    "plugin:react/recommended",
    // https://github.com/benmosher/eslint-plugin-import
    "plugin:import/recommended"
  ]
}